# Funciones y métodos más comunes de pandas

In [1]:
import pandas as pd

Función para importar datos. Tiene pd. porque así fue como renombre pandas

In [2]:
df=pd.read_csv("C:\\Users\\Joako\\Desktop\\AnalisisDatosEjercicios\\datos\\Datos\\Sample_Transaction_Table_peq.csv")

In [3]:
# Ver cabecera
df.head()

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
0,2020-08-29,9900,1980,fan,SKU83503,brass,$13.99,2,$27.98,12.0
1,2020-05-01,12315,2463,fan,SKU83503,brass,$13.99,2,$27.98,NaN
2,2020-12-12,9890,1978,fan,SKU83503,white,$13.99,1,$13.99,NaN
3,2020-02-16,46915,9383,fan,SKU83503,black,$13.99,1,$13.99,NaN
4,2020-12-28,44700,8940,fan,SKU83503,brass,$13.99,2,$27.98,NaN

In [4]:
# ver últimas filas
df.tail()

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
24,2020-03-22,14080,2816,desk,SKU40294,brown,$169.95,1,$169.95,NaN
25,2020-06-04,6340,1268,desk,SKU40294,white,$169.95,1,$169.95,NaN
26,2020-02-28,21485,4297,chair,SKU99664,black,$234.50,1,$234.50,NaN
27,2020-06-06,24785,4957,chaise,SKU77417,beige,$399.95,1,$399.95,NaN
28,2020-06-06,24785,4957,ottoman,SKU13351,grey,$299.99,1,$299.99,NaN

In [5]:
# Seleccionar una o varias columnas del dataframe
# df['date']
df[['transaction_id', 'customer_id' ]]

    transaction_id  customer_id
0             9900         1980
1            12315         2463
2             9890         1978
3            46915         9383
4            44700         8940
5            44700         8940
6            12560         2512
7             9640         1928
8            22620         4524
9            49430         9886
10           49075         9815
11           37855         7571
12            9900         1980
13            1675          335
14           23435         4687
15           19105         3821
16           48035         9607
17           31615         6323
18           31775         6355
19           21870         4374
20           45400         9080
21           45400         9080
22           45400         9080
23           26530         5306
24           14080         2816
25            6340         1268
26           21485         4297
27           24785         4957
28           24785         4957

In [6]:
# Filtrar según una condición
df[df['purchase_size'] > 3]

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
5,2020-12-28,44700,8940,lamp,SKU95363,brass,$45.99,5,$160.97,NaN

In [7]:
# Filtrar según varias condiciones
df[(df['product_color']=='brown') & (df['purchase_size'] < 2)]

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
6,2020-10-11,12560,2512,bed,SKU74796,brown,$799.99,1,$799.99,NaN
14,2020-07-08,23435,4687,couch,SKU31871,brown,"$1,000.00",1,"$1,000.00",NaN
22,2020-07-22,45400,9080,bookcase,SKU15757,brown,$58.89,1,$58.89,NaN
23,2020-04-29,26530,5306,desk,SKU40294,brown,$169.95,1,$169.95,NaN
24,2020-03-22,14080,2816,desk,SKU40294,brown,$169.95,1,$169.95,NaN

En resumen, los corchetes son utilizados para seleccionar filas o columnas del DataFrame y los paréntesis son utilizados para agrupar y aplicar condiciones a estas filas o columnas seleccionadas.

In [8]:
# Ordenar el dataframe según una condición
df.sort_values(by='customer_id')

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
13,2020-10-12,1675,335,couch,SKU31871,white,"$1,000.00",1,"$1,000.00",NaN
25,2020-06-04,6340,1268,desk,SKU40294,white,$169.95,1,$169.95,NaN
7,2020-06-29,9640,1928,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN
2,2020-12-12,9890,1978,fan,SKU83503,white,$13.99,1,$13.99,NaN
0,2020-08-29,9900,1980,fan,SKU83503,brass,$13.99,2,$27.98,12.0
12,2020-02-16,9900,1980,couch,SKU31871,white,"$1,000.00",1,"$1,000.00",NaN
1,2020-05-01,12315,2463,fan,SKU83503,brass,$13.99,2,$27.98,NaN
6,2020-10-11,12560,2512,bed,SKU74796,brown,$799.99,1,$799.99,NaN
24,2020-03-22,14080,2816,desk,SKU40294,brown,$169.95,1,$169.95,NaN
15,2020-10-21,19105,3821,couch,SKU31871,black,"$1,000.00",1,"$1,000.00",NaN
26,2020-02-28,21485,4297,chair,SKU99664,black,$234.50,1,$234.50,NaN
19,2020-09-07,21870,4374,rug,SKU19092,beige,$89.85,3,$269.55,NaN
8,2020-11-10,22620,4524,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN
14,2020-07-08,23435,4687,couch,SKU31871,brown,"$1,000.00",1,"$1,000.00",NaN
27,2020-06-06,24785,4957,chaise,SKU77417,beige,$399.95,1,$399.95,NaN
28,2020-06-06,24785,4957,ottoman,SKU13351,grey,$299.99,1,$299.99,NaN
23,2020-04-29,26530,5306,desk,SKU40294,brown,$169.95,1,$169.95,NaN
17,2020-09-25,31615,6323,rug,SKU19092,grey,$89.85,2,$179.70,NaN
18,2020-08-11,31775,6355,rug,SKU19092,grey,$89.85,1,$89.85,NaN
11,2020-01-23,37855,7571,couch,SKU31871,purple,"$1,000.00",1,"$1,000.00",NaN
5,2020-12-28,44700,8940,lamp,SKU95363,brass,$45.99,5,$160.97,NaN
4,2020-12-28,44700,8940,fan,SKU83503,brass,$13.99,2,$27.98,NaN
20,2020-07-22,45400,9080,vase,SKU99037,green,$9.99,2,$19.98,NaN
21,2020-07-22,45400,9080,mirror,SKU97721,brass,$199.95,1,$199.95,NaN
22,2020-07-22,45400,9080,bookcase,SKU15757,brown,$58.89,1,$58.89,NaN
3,2020-02-16,46915,9383,fan,SKU83503,black,$13.99,1,$13.99,NaN
16,2020-12-30,48035,9607,rug,SKU19092,beige,$89.85,3,$269.55,NaN
10,2020-04-28,49075,9815,couch,SKU31871,blue,"$1,000.00",1,"$1,000.00",NaN
9,2020-02-05,49430,9886,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN

In [9]:
# Ordenar con varias condiciones
# True, True indica que ambas columnas se van a agrupar ascendentes empezando por la izquierda 
df.sort_values(by=['customer_id', 'purchase_size'], ascending=[True,True])

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
13,2020-10-12,1675,335,couch,SKU31871,white,"$1,000.00",1,"$1,000.00",NaN
25,2020-06-04,6340,1268,desk,SKU40294,white,$169.95,1,$169.95,NaN
7,2020-06-29,9640,1928,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN
2,2020-12-12,9890,1978,fan,SKU83503,white,$13.99,1,$13.99,NaN
12,2020-02-16,9900,1980,couch,SKU31871,white,"$1,000.00",1,"$1,000.00",NaN
0,2020-08-29,9900,1980,fan,SKU83503,brass,$13.99,2,$27.98,12.0
1,2020-05-01,12315,2463,fan,SKU83503,brass,$13.99,2,$27.98,NaN
6,2020-10-11,12560,2512,bed,SKU74796,brown,$799.99,1,$799.99,NaN
24,2020-03-22,14080,2816,desk,SKU40294,brown,$169.95,1,$169.95,NaN
15,2020-10-21,19105,3821,couch,SKU31871,black,"$1,000.00",1,"$1,000.00",NaN
26,2020-02-28,21485,4297,chair,SKU99664,black,$234.50,1,$234.50,NaN
19,2020-09-07,21870,4374,rug,SKU19092,beige,$89.85,3,$269.55,NaN
8,2020-11-10,22620,4524,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN
14,2020-07-08,23435,4687,couch,SKU31871,brown,"$1,000.00",1,"$1,000.00",NaN
27,2020-06-06,24785,4957,chaise,SKU77417,beige,$399.95,1,$399.95,NaN
28,2020-06-06,24785,4957,ottoman,SKU13351,grey,$299.99,1,$299.99,NaN
23,2020-04-29,26530,5306,desk,SKU40294,brown,$169.95,1,$169.95,NaN
17,2020-09-25,31615,6323,rug,SKU19092,grey,$89.85,2,$179.70,NaN
18,2020-08-11,31775,6355,rug,SKU19092,grey,$89.85,1,$89.85,NaN
11,2020-01-23,37855,7571,couch,SKU31871,purple,"$1,000.00",1,"$1,000.00",NaN
4,2020-12-28,44700,8940,fan,SKU83503,brass,$13.99,2,$27.98,NaN
5,2020-12-28,44700,8940,lamp,SKU95363,brass,$45.99,5,$160.97,NaN
21,2020-07-22,45400,9080,mirror,SKU97721,brass,$199.95,1,$199.95,NaN
22,2020-07-22,45400,9080,bookcase,SKU15757,brown,$58.89,1,$58.89,NaN
20,2020-07-22,45400,9080,vase,SKU99037,green,$9.99,2,$19.98,NaN
3,2020-02-16,46915,9383,fan,SKU83503,black,$13.99,1,$13.99,NaN
16,2020-12-30,48035,9607,rug,SKU19092,beige,$89.85,3,$269.55,NaN
10,2020-04-28,49075,9815,couch,SKU31871,blue,"$1,000.00",1,"$1,000.00",NaN
9,2020-02-05,49430,9886,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",NaN

In [10]:
# Agrupar los datos según una o varias columnas
df.groupby('customer_id').sum()

,date,transaction_id,product,product_code,product_color,product_price,purchase_size,purchase_price,Unnamed: 9
customer_id,,,,,,,,,
335,2020-10-12,1675,couch,SKU31871,white,"$1,000.00",1,"$1,000.00",0.0
1268,2020-06-04,6340,desk,SKU40294,white,$169.95,1,$169.95,0.0
1928,2020-06-29,9640,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",0.0
1978,2020-12-12,9890,fan,SKU83503,white,$13.99,1,$13.99,0.0
1980,2020-08-292020-02-16,19800,fancouch,SKU83503SKU31871,brasswhite,"$13.99$1,000.00",3,"$27.98$1,000.00",12.0
2463,2020-05-01,12315,fan,SKU83503,brass,$13.99,2,$27.98,0.0
2512,2020-10-11,12560,bed,SKU74796,brown,$799.99,1,$799.99,0.0
2816,2020-03-22,14080,desk,SKU40294,brown,$169.95,1,$169.95,0.0
3821,2020-10-21,19105,couch,SKU31871,black,"$1,000.00",1,"$1,000.00",0.0
4297,2020-02-28,21485,chair,SKU99664,black,$234.50,1,$234.50,0.0
4374,2020-09-07,21870,rug,SKU19092,beige,$89.85,3,$269.55,0.0
4524,2020-11-10,22620,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",0.0
4687,2020-07-08,23435,couch,SKU31871,brown,"$1,000.00",1,"$1,000.00",0.0
4957,2020-06-062020-06-06,49570,chaiseottoman,SKU77417SKU13351,beigegrey,$399.95$299.99,2,$399.95$299.99,0.0
5306,2020-04-29,26530,desk,SKU40294,brown,$169.95,1,$169.95,0.0
6323,2020-09-25,31615,rug,SKU19092,grey,$89.85,2,$179.70,0.0
6355,2020-08-11,31775,rug,SKU19092,grey,$89.85,1,$89.85,0.0
7571,2020-01-23,37855,couch,SKU31871,purple,"$1,000.00",1,"$1,000.00",0.0
8940,2020-12-282020-12-28,89400,fanlamp,SKU83503SKU95363,brassbrass,$13.99$45.99,7,$27.98$160.97,0.0
9080,2020-07-222020-07-222020-07-22,136200,vasemirrorbookcase,SKU99037SKU97721SKU15757,greenbrassbrown,$9.99$199.95$58.89,4,$19.98$199.95$58.89,0.0
9383,2020-02-16,46915,fan,SKU83503,black,$13.99,1,$13.99,0.0
9607,2020-12-30,48035,rug,SKU19092,beige,$89.85,3,$269.55,0.0
9815,2020-04-28,49075,couch,SKU31871,blue,"$1,000.00",1,"$1,000.00",0.0
9886,2020-02-05,49430,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00",0.0

In [11]:
df.groupby(['customer_id','date']).sum()

                        transaction_id             product
customer_id date
335         2020-10-12            1675               couch  \
1268        2020-06-04            6340                desk
1928        2020-06-29            9640               couch
1978        2020-12-12            9890                 fan
1980        2020-02-16            9900               couch
            2020-08-29            9900                 fan
2463        2020-05-01           12315                 fan
2512        2020-10-11           12560                 bed
2816        2020-03-22           14080                desk
3821        2020-10-21           19105               couch
4297        2020-02-28           21485               chair
4374        2020-09-07           21870                 rug
4524        2020-11-10           22620               couch
4687        2020-07-08           23435               couch
4957        2020-06-06           49570       chaiseottoman
5306        2020-04-29           26530                desk
6323        2020-09-25           31615                 rug
6355        2020-08-11           31775                 rug
7571        2020-01-23           37855               couch
8940        2020-12-28           89400             fanlamp
9080        2020-07-22          136200  vasemirrorbookcase
9383        2020-02-16           46915                 fan
9607        2020-12-30           48035                 rug
9815        2020-04-28           49075               couch
9886        2020-02-05           49430               couch

                                    product_code    product_color
customer_id date
335         2020-10-12                  SKU31871            white  \
1268        2020-06-04                  SKU40294            white
1928        2020-06-29                  SKU31871             grey
1978        2020-12-12                  SKU83503            white
1980        2020-02-16                  SKU31871            white
            2020-08-29                  SKU83503            brass
2463        2020-05-01                  SKU83503            brass
2512        2020-10-11                  SKU74796            brown
2816        2020-03-22                  SKU40294            brown
3821        2020-10-21                  SKU31871            black
4297        2020-02-28                  SKU99664            black
4374        2020-09-07                  SKU19092            beige
4524        2020-11-10                  SKU31871             grey
4687        2020-07-08                  SKU31871            brown
4957        2020-06-06          SKU77417SKU13351        beigegrey
5306        2020-04-29                  SKU40294            brown
6323        2020-09-25                  SKU19092             grey
6355        2020-08-11                  SKU19092             grey
7571        2020-01-23                  SKU31871           purple
8940        2020-12-28          SKU83503SKU95363       brassbrass
9080        2020-07-22  SKU99037SKU97721SKU15757  greenbrassbrown
9383        2020-02-16                  SKU83503            black
9607        2020-12-30                  SKU19092            beige
9815        2020-04-28                  SKU31871             blue
9886        2020-02-05                  SKU31871             grey

                             product_price  purchase_size
customer_id date
335         2020-10-12           $1,000.00              1  \
1268        2020-06-04             $169.95              1
1928        2020-06-29           $1,000.00              1
1978        2020-12-12              $13.99              1
1980        2020-02-16           $1,000.00              1
            2020-08-29              $13.99              2
2463        2020-05-01              $13.99              2
2512        2020-10-11             $799.99              1
2816        2020-03-22             $169.95              1
3821        2020-10-21           $1,000.00              1
4297        2020-02-28             $234.50              1
4374        2020-09-07              $89.85              3
4524        2020-11-10           $1,000.00              1
4687        2020-07-08           $1,000.00              1
4957        2020-06-06      $399.95$299.99              2
5306        2020-04-29             $169.95              1
6323        2020-09-25              $89.85              2
6355        2020-08-11              $89.85              1
7571        2020-01-23           $1,000.00              1
8940        2020-12-28        $13.99$45.99              7
9080        2020-07-22  $9.99$199.95$58.89              4
9383        2020-02-16              $13.99              1
9607        2020-12-30              $89.85              3
9815        2020-04-28           $1,000.00              1
9886        2020-02-05           $1,000.00              1

                             purchase_price  Unnamed: 9
customer_id date
335         2020-10-12            $1,000.00         0.0
1268        2020-06-04              $169.95         0.0
1928        2020-06-29            $1,000.00         0.0
1978        2020-12-12               $13.99         0.0
1980        2020-02-16            $1,000.00         0.0
            2020-08-29               $27.98        12.0
2463        2020-05-01               $27.98         0.0
2512        2020-10-11              $799.99         0.0
2816        2020-03-22              $169.95         0.0
3821        2020-10-21            $1,000.00         0.0
4297        2020-02-28              $234.50         0.0
4374        2020-09-07              $269.55         0.0
4524        2020-11-10            $1,000.00         0.0
4687        2020-07-08            $1,000.00         0.0
4957        2020-06-06       $399.95$299.99         0.0
5306        2020-04-29              $169.95         0.0
6323        2020-09-25              $179.70         0.0
6355        2020-08-11               $89.85         0.0
7571        2020-01-23            $1,000.00         0.0
8940        2020-12-28        $27.98$160.97         0.0
9080        2020-07-22  $19.98$199.95$58.89         0.0
9383        2020-02-16               $13.99         0.0
9607        2020-12-30              $269.55         0.0
9815        2020-04-28            $1,000.00         0.0
9886        2020-02-05            $1,000.00         0.0

In [12]:
# Ver nombre de las columnas
df.columns

Index(['date', 'transaction_id', 'customer_id', 'product', 'product_code',
       'product_color', 'product_price', 'purchase_size', 'purchase_price',
       'Unnamed: 9'],
      dtype='object')

In [13]:
# Eliminar filas o columnas de un dataframe
# df.drop(index=3)
df.drop(columns='Unnamed: 9')

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price
0,2020-08-29,9900,1980,fan,SKU83503,brass,$13.99,2,$27.98
1,2020-05-01,12315,2463,fan,SKU83503,brass,$13.99,2,$27.98
2,2020-12-12,9890,1978,fan,SKU83503,white,$13.99,1,$13.99
3,2020-02-16,46915,9383,fan,SKU83503,black,$13.99,1,$13.99
4,2020-12-28,44700,8940,fan,SKU83503,brass,$13.99,2,$27.98
5,2020-12-28,44700,8940,lamp,SKU95363,brass,$45.99,5,$160.97
6,2020-10-11,12560,2512,bed,SKU74796,brown,$799.99,1,$799.99
7,2020-06-29,9640,1928,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00"
8,2020-11-10,22620,4524,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00"
9,2020-02-05,49430,9886,couch,SKU31871,grey,"$1,000.00",1,"$1,000.00"
10,2020-04-28,49075,9815,couch,SKU31871,blue,"$1,000.00",1,"$1,000.00"
11,2020-01-23,37855,7571,couch,SKU31871,purple,"$1,000.00",1,"$1,000.00"
12,2020-02-16,9900,1980,couch,SKU31871,white,"$1,000.00",1,"$1,000.00"
13,2020-10-12,1675,335,couch,SKU31871,white,"$1,000.00",1,"$1,000.00"
14,2020-07-08,23435,4687,couch,SKU31871,brown,"$1,000.00",1,"$1,000.00"
15,2020-10-21,19105,3821,couch,SKU31871,black,"$1,000.00",1,"$1,000.00"
16,2020-12-30,48035,9607,rug,SKU19092,beige,$89.85,3,$269.55
17,2020-09-25,31615,6323,rug,SKU19092,grey,$89.85,2,$179.70
18,2020-08-11,31775,6355,rug,SKU19092,grey,$89.85,1,$89.85
19,2020-09-07,21870,4374,rug,SKU19092,beige,$89.85,3,$269.55
20,2020-07-22,45400,9080,vase,SKU99037,green,$9.99,2,$19.98
21,2020-07-22,45400,9080,mirror,SKU97721,brass,$199.95,1,$199.95
22,2020-07-22,45400,9080,bookcase,SKU15757,brown,$58.89,1,$58.89
23,2020-04-29,26530,5306,desk,SKU40294,brown,$169.95,1,$169.95
24,2020-03-22,14080,2816,desk,SKU40294,brown,$169.95,1,$169.95
25,2020-06-04,6340,1268,desk,SKU40294,white,$169.95,1,$169.95
26,2020-02-28,21485,4297,chair,SKU99664,black,$234.50,1,$234.50
27,2020-06-06,24785,4957,chaise,SKU77417,beige,$399.95,1,$399.95
28,2020-06-06,24785,4957,ottoman,SKU13351,grey,$299.99,1,$299.99

Cambiar el type de una columna product_price. Pero tiene un simbolo de $ que debo eliminar primero. La función srt.replace siempre me falla por alguna razon. Mejor usar la función map

Los valores tienen una coma que no es reconocido como separador de miles, primero cambiar la coma por punto y luego convertirlo a float

In [14]:
# Eliminar un caracter
df['product_price'] = df['product_price'].str.replace('$', '').str.replace(',', '').str.replace('.', '')

In [15]:
# Verifico los valores de la columna product_price y además veo la frecuencia de cada uno
df.product_price.value_counts()

product_price
100000    9
1399      5
8985      4
16995     3
4599      1
79999     1
999       1
19995     1
5889      1
23450     1
39995     1
29999     1
Name: count, dtype: int64

In [16]:
df['product_price'] = df['product_price'].astype(float)

In [17]:
# ver el tipo de las columnas 
print(df.dtypes)

date               object
transaction_id      int64
customer_id         int64
product            object
product_code       object
product_color      object
product_price     float64
purchase_size       int64
purchase_price     object
Unnamed: 9        float64
dtype: object

Hacer lo mismo con la columnas: purchase_price

In [18]:
df['purchase_price'] = df['purchase_price'].str.replace('$', '').str.replace(',', '').str.replace('.', '')
df.purchase_price.value_counts()

purchase_price
100000    9
2798      3
16995     3
1399      2
26955     2
16097     1
79999     1
17970     1
8985      1
1998      1
19995     1
5889      1
23450     1
39995     1
29999     1
Name: count, dtype: int64

In [19]:
df['purchase_price'] = df['purchase_price'].astype(float)

In [20]:
df.purchase_price.value_counts()

purchase_price
100000.0    9
2798.0      3
16995.0     3
1399.0      2
26955.0     2
16097.0     1
79999.0     1
17970.0     1
8985.0      1
1998.0      1
19995.0     1
5889.0      1
23450.0     1
39995.0     1
29999.0     1
Name: count, dtype: int64

In [21]:
# Aplicar función a una columna
def unidad(op1,op2):
    return op1 / op2

df['unit_price'] = df.apply(lambda row: unidad(row['purchase_price'], row['purchase_size']), axis=1)

Este código creará una nueva columna unit_price que contiene los resultados de aplicar la función unidad a cada fila de las columnas product_price y purchase_price.

La función lambda se utiliza para aplicar la función unidad a cada fila del DataFrame, pasando como argumentos los valores de product_price y purchase_price. El argumento axis=1 indica que la función se aplica a lo largo de las filas del DataFrame.

In [22]:
df.drop(columns='Unnamed: 9')

,date,transaction_id,customer_id,product,product_code,product_color,product_price,purchase_size,purchase_price,unit_price
0,2020-08-29,9900,1980,fan,SKU83503,brass,1399.0,2,2798.0,1399.0
1,2020-05-01,12315,2463,fan,SKU83503,brass,1399.0,2,2798.0,1399.0
2,2020-12-12,9890,1978,fan,SKU83503,white,1399.0,1,1399.0,1399.0
3,2020-02-16,46915,9383,fan,SKU83503,black,1399.0,1,1399.0,1399.0
4,2020-12-28,44700,8940,fan,SKU83503,brass,1399.0,2,2798.0,1399.0
5,2020-12-28,44700,8940,lamp,SKU95363,brass,4599.0,5,16097.0,3219.4
6,2020-10-11,12560,2512,bed,SKU74796,brown,79999.0,1,79999.0,79999.0
7,2020-06-29,9640,1928,couch,SKU31871,grey,100000.0,1,100000.0,100000.0
8,2020-11-10,22620,4524,couch,SKU31871,grey,100000.0,1,100000.0,100000.0
9,2020-02-05,49430,9886,couch,SKU31871,grey,100000.0,1,100000.0,100000.0
10,2020-04-28,49075,9815,couch,SKU31871,blue,100000.0,1,100000.0,100000.0
11,2020-01-23,37855,7571,couch,SKU31871,purple,100000.0,1,100000.0,100000.0
12,2020-02-16,9900,1980,couch,SKU31871,white,100000.0,1,100000.0,100000.0
13,2020-10-12,1675,335,couch,SKU31871,white,100000.0,1,100000.0,100000.0
14,2020-07-08,23435,4687,couch,SKU31871,brown,100000.0,1,100000.0,100000.0
15,2020-10-21,19105,3821,couch,SKU31871,black,100000.0,1,100000.0,100000.0
16,2020-12-30,48035,9607,rug,SKU19092,beige,8985.0,3,26955.0,8985.0
17,2020-09-25,31615,6323,rug,SKU19092,grey,8985.0,2,17970.0,8985.0
18,2020-08-11,31775,6355,rug,SKU19092,grey,8985.0,1,8985.0,8985.0
19,2020-09-07,21870,4374,rug,SKU19092,beige,8985.0,3,26955.0,8985.0
20,2020-07-22,45400,9080,vase,SKU99037,green,999.0,2,1998.0,999.0
21,2020-07-22,45400,9080,mirror,SKU97721,brass,19995.0,1,19995.0,19995.0
22,2020-07-22,45400,9080,bookcase,SKU15757,brown,5889.0,1,5889.0,5889.0
23,2020-04-29,26530,5306,desk,SKU40294,brown,16995.0,1,16995.0,16995.0
24,2020-03-22,14080,2816,desk,SKU40294,brown,16995.0,1,16995.0,16995.0
25,2020-06-04,6340,1268,desk,SKU40294,white,16995.0,1,16995.0,16995.0
26,2020-02-28,21485,4297,chair,SKU99664,black,23450.0,1,23450.0,23450.0
27,2020-06-06,24785,4957,chaise,SKU77417,beige,39995.0,1,39995.0,39995.0
28,2020-06-06,24785,4957,ottoman,SKU13351,grey,29999.0,1,29999.0,29999.0

1. Concatenación y unión de dataframe. No tengo otro dataframe para prácticar esto. Igual conservo el concepto
Pandas te permite concatenar y unir DataFrames de diferentes maneras. Por ejemplo, puedes usar la función pd.concat() para concatenar DataFrames vertical u horizontalmente, o la función pd.merge() para unir DataFrames por una o varias columnas comunes.

2. Operaciones aritméticas y estadísticas: Pandas te permite realizar operaciones aritméticas y estadísticas sobre DataFrames y Series. Por ejemplo, puedes sumar, restar, multiplicar y dividir columnas y filas, o calcular estadísticas como la media, mediana, desviación estándar, y cuantiles.

In [23]:
productos = df.groupby('product')['purchase_price'].sum()
# print(productos)
# ventas_productos = df.groupby(['product','purchase_size']).sum()

In [24]:
print(productos)

product
bed          79999.0
bookcase      5889.0
chair        23450.0
chaise       39995.0
couch       900000.0
desk         50985.0
fan          11192.0
lamp         16097.0
mirror       19995.0
ottoman      29999.0
rug          80865.0
vase          1998.0
Name: purchase_price, dtype: float64

In [25]:
# Verificar datos únicos
df.transaction_id.unique()

array([ 9900, 12315,  9890, 46915, 44700, 12560,  9640, 22620, 49430,
       49075, 37855,  1675, 23435, 19105, 48035, 31615, 31775, 21870,
       45400, 26530, 14080,  6340, 21485, 24785], dtype=int64)

In [26]:
# Verificación
df.transaction_id.value_counts()

transaction_id
45400    3
9900     2
44700    2
24785    2
46915    1
12560    1
21485    1
6340     1
14080    1
26530    1
9890     1
21870    1
31775    1
31615    1
48035    1
19105    1
12315    1
1675     1
37855    1
49075    1
49430    1
22620    1
9640     1
23435    1
Name: count, dtype: int64